.brand {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: rgb(21, 0, 255);
  letter-spacing: 4px;
}

article p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 8px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem;
  padding: 1rem;
}

nav a {
  margin: 2rem;
  padding: 1rem;
  margin-left: 100px;
}

main {
  display: flex;
  margin: 2rem;
  padding: 1rem;
}

footer {
  margin: 1.5rem;
  padding: 1.5rem;
  text-align: center;
  background-color: aqua;
}

.testimonial {
  margin: 1.5rem;
  padding: 1rem;
  text-align: center;
  background-color: aqua;
}

aside {
  display: flexbox;
  flex-direction: column;
  background-color: aqua;
  margin: 1.5rem;
  padding: 1.5rem;
}

html {
  display: flex;
  height: 100%;
}
